# Not explicit
ColumnLimit: 0
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortLoopsOnASingleLine: false
KeepEmptyLinesAtTheStartOfBlocks: false

# https://github.com/Raizlabs/Raizlabs-Cocoa-Style#newlines
MaxEmptyLinesToKeep: 1

# https://github.com/Raizlabs/Raizlabs-Cocoa-Style#indentation
IndentWidth: 4
TabWidth: 4
UseTab: Never

# https://github.com/Raizlabs/Raizlabs-Cocoa-Style#variables-1
PointerAlignment: Right
DerivePointerAlignment: false

# https://github.com/Raizlabs/Raizlabs-Cocoa-Style#properties-1
# does not implement preferred ordering of property specifiers
ObjCSpaceAfterProperty: true

# https://github.com/Raizlabs/Raizlabs-Cocoa-Style#conditionals
# does not implement requiring braces for one line statements
BreakBeforeBraces: Stroustrup
AllowShortIfStatementsOnASingleLine: false

# https://github.com/Raizlabs/Raizlabs-Cocoa-Style#mathematical-operators
# does not implement requiring parentheses for mathematical expressions
# and parentheses around ternary conditionals
BreakBeforeTernaryOperators: false

# https://github.com/Raizlabs/Raizlabs-Cocoa-Style#switch-statements
# does not add missing braces, does not call out empty default: case on
# switches
IndentCaseLabels: true
AllowShortCaseLabelsOnASingleLine: false

# https://github.com/Raizlabs/Raizlabs-Cocoa-Style#comments
# Does not add a space after // comments
AlignTrailingComments: true

# https://github.com/Raizlabs/Raizlabs-Cocoa-Style#method-signatures
# Correct method signature construction seems to be inferred from
# other settings, but it does not check for missing identifiers, or bad
# parameter names;
# also, does not perfectly align with Xcode's auto-indent fallback
BinPackParameters: true
BinPackArguments: true
AllowShortFunctionsOnASingleLine: false
IndentWrappedFunctionNames: false

# https://github.com/Raizlabs/Raizlabs-Cocoa-Style#protocols
ObjCSpaceBeforeProtocolList: true
ObjCXcodeBlockFormat: true

# Spacing
SpacesInParentheses: false
SpacesInAngles:  false
SpaceInEmptyParentheses: false
SpacesInCStyleCastParentheses: false
SpacesInContainerLiterals: true
SpaceBeforeAssignmentOperators: true
SpacesBeforeTrailingComments: 1

ObjCBlockIndentWidth: 4

# https://github.com/Raizlabs/Raizlabs-Cocoa-Style#rule-of-three
# No settings to support breaking protocols onto one line per

# https://github.com/Raizlabs/Raizlabs-Cocoa-Style#method-callssignatures
# Breaks on long signatures, rather than a specific count
